:root {
  --main-green: rgba(97, 236, 33, 0.9);  
  --main-sky: rgba(14, 165, 233,1);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;

  background-image: url("src/assets/tennis-court-x.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--main-green);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--main-green);
}

button p, h1, h2, h3, h4, h5, h6 {
  color: red;
}

body {
  padding-top: 5vh;  
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* -------------------------------------------------------------------------- */

.darkModal {
  background-color: rgba(0, 0, 0, 0.85);
  position:absolute;
  top:0px;
  right:0px;
  bottom:0vh;
  left:0px;
  z-index: 1000000000000000000000;
}

.darkModal .positionMeTopRight {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--main-sky) !important;
  align-self: flex-end;
  justify-self: flex-end;
  z-index: 10;
  margin: 10px 10px;
  font-size: large;
}

.addPlayersPanel {  
  position: relative;  
}

.positionMeBottomCenterLeft {
  display: block;
  width: 300px;
  height: 40px !important;  
  position: absolute;
  border: 1px solid red !important;  
  bottom: -50px;
  left: 50%;
  transform: translateX(-110%) translateY(-120%);
  font-size: 1em !important;  
}

.positionMeBottomCenterLeft:active, .positionMeBottomCenterLeft:focus {
  transform: translateX(-110%) translateY(-120%) !important;
}

.positionMeBottomCenterRight {
  display: block;
  width: 300px;
  height: 40px !important;  
  position: absolute;
  border: 1px solid red !important;  
  bottom: -50px;
  left: 50%;
  transform: translateX(10%) translateY(-120%);
  font-size: 1em !important;    
}

.positionMeBottomCenterRight:active, .positionMeBottomCenterRight:focus {
  transform: translateX(10%) translateY(-120%) !important;
}


