html {
  box-sizing: border-box;
  font-size: 16px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* -------------------------------------------------------------------------- */

.darkModal {
  background-color: rgba(0, 0, 0, 0.8);
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index: 1000000000000000000000;
}

.darkModal .positionMeTopRight {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(73, 233, 73, 0.559);
  align-self: flex-end;
  justify-self: flex-end;
  z-index: 1000000000000000000001;
  margin: 10px 10px;
  font-size: large;
}

.addPlayersPanel {  
  position: relative;
  
}

.positionMeBottomRight {
  display: block;
  width: 200px;
  height: 40px !important;  
  position: absolute;
  border: 1px solid red !important;  
  bottom: -50px;
  right: 0px;
  color: rgba(73, 233, 73, 0.559) !important;
  font-size: 1em !important;    
}


