:root {
  --main-brick: rgba(235, 64, 52, 0.8);
  --main-sky: rgba(14, 165, 233,1);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;

  background-image: url("src/assets/tennis-court-x.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--main-brick);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--main-brick);
}

body {
  padding-top: 5vh;  
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* -------------------------------------------------------------------------- */

.darkModal {
  background-color: rgba(0, 0, 0, 0.75);
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index: 1000000000000000000000;
}

.darkModal .positionMeTopRight {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(73, 233, 73, 0.559);
  align-self: flex-end;
  justify-self: flex-end;
  z-index: 1000000000000000000001;
  margin: 10px 10px;
  font-size: large;
}

.addPlayersPanel {  
  position: relative;  
}

.positionMeBottomCenterLeft {
  display: block;
  width: 200px;
  height: 40px !important;  
  position: absolute;
  border: 1px solid red !important;  
  bottom: -50px;
  left: 50%;
  transform: translateX(-110%);
  color: var(--main-sky) !important;
  font-size: 1em !important;    
}
.positionMeBottomCenterRight {
  display: block;
  width: 200px;
  height: 40px !important;  
  position: absolute;
  border: 1px solid red !important;  
  bottom: -50px;
  left: 50%;
  transform: translateX(10%);
  color: var(--main-sky) !important;
  font-size: 1em !important;    
}


